body {
  font-family: "Barlow Condensed", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flex-parent {
  display: flex;
}
.flex-child {
  flex: 1;
}

/* body {
  font-family: "Barlow Condensed";
} */